.page-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-loader img{
    transition: 0.5s all;
    width: 70px;
    animation: loader 5s infinite;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    40% { transform: rotate(270deg);}
    80% { transform: rotate(-360deg);}
    100% { transform: rotate(0deg);}
}

.page-loader p{
    margin-top: 2em;
    margin-bottom: -2em;
    font-size: 14px;
    margin-left: 7px;
}

.btn-primary{
    background-color: #0061fe !important;
    font-weight: 800 !important;
    border-radius: 0 !important;
    padding: 10px 25px !important;
}

.btn-secondary{
    background-color: rgba(155,100,0,0.102) !important;
    font-weight: 800 !important;
    border-radius: 0 !important;
    color: black !important;
    padding: 10px 25px !important;
    border: none !important;
}

/* ------------------------------------------------------------------------------
Font Setting
-------------------------------------------------------------------------------*/

@font-face {
    font-family: "Inter";
    src: url("/font/inter/thin.ttf");
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: "Inter";
    src: url("/font/inter/light.ttf");
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: "Inter";
    src: url("/font/inter/regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/font/inter/medium.ttf");
    font-weight: 600;
    font-style: medium;
}

@font-face {
    font-family: "Inter";
    src: url("/font/inter/bold.ttf");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Inter";
    src: url("/font/inter/black.ttf");
    font-weight: 900;
    font-style: black;
}


p,
h1,
span,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
html,
body,
b,
label {
    font-family: "Inter", "微软雅黑", sans-serif !important;
}



.swal-title{
    font-size: 25px !important;
    font-weight: 700 !important;
    font-family: "Inter", "微软雅黑", sans-serif !important;
    color: black !important;
    margin-bottom: 5px !important;
}

.swal-text{
    font-size: 15px !important;
}

.swal-footer{
    text-align: center !important;
}

.swal-button{
    background-color: #0061fe !important;
    font-weight: 800 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline:  none !important;
    padding: 10px 25px !important;
}
