.tooltip_menus a {
    color: #919191 !important;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 0;
    position: relative;
    width: 160px;
}

.tooltip_menus button {
    width: 100%;
    margin-bottom: 5px;
}
.col-m{
    width:250px !important;
}
.tooltip_menus hr {
    margin-top: 30px;
}

.tooltip_menus i {
    padding-right: 25px;
}

.tooltip_templates {
    display: none;
}

.tooltipster-sidetip .tooltipster-box {
    background: white;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-shadow: 3px 1px 12px 0 rgba(0, 0, 0, 0.07);
    z-index: 999999;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    z-index: 1000000;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: white;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: white;
}

.pagination {
    justify-content: center;
    margin-top: 40px;
}

.table-section {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px #f4f4f7;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.table-section .title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    display: inline-block;
    margin-bottom: 30px !important;
    margin-top: 15px;
    margin-left: 15px;
}

.table-section label {
    font-size: 13px !important;
}

.table-section .subtitle {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}
select{
    font-size: 13px !important;
}
.table thead th {
    border-bottom: 0;
    font-size: 13px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}

thead {
    color: white;
}



#right-panel.expand .table-responsive {
    max-width: calc(100vw - 378px);
}

td {
    color: var(--dashboard-secondary-font);
}

.table td,
.table th {
    border-top: 1px solid rgba(0, 0, 0, 0.02);
}
.table td{
    font-size:13px;
}

.thead-purple {
    background: #cec2ec;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #cec2ec 0%, #a081f6 51%, #A686F8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cec2ec 0%, #a081f6 51%, #A686F8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #cec2ec 0%, #a081f6 51%, #A686F8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thead-blue {
    background: #f58214;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #f58214 0%, #ff7272 50%, #ff6d6d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f58214 0%, #ff7272 50%, #ff6d6d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f58214 0%, #ff7272 50%, #ff6d6d 100%);
}

.thead-red {
    background: #fdc0a3;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thead-green {
    background: #47e0b2;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #47e0b2 0%, #00b58a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #47e0b2 0%, #00b58a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #47e0b2 0%, #00b58a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thead-orange {
    background: #fdc0a3;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thead-black {
    background: #2C2C2C;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #3D3D3D 0%, #393939 50%, #2C2C2C 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3D3D3D 0%, #393939 50%, #2C2C2C 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3D3D3D 0%, #393939 50%, #2C2C2C 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.thead-none tr th {
    color: #2A2A2A;
    border-top: 0;
}

.thead-border tr th {
    color: #2A2A2A;
}

.thead-border {
    border: 2px solid #2E2E2E;
}

.search-total {
    text-align: center;
    font-size: 12px;
    color: gray;
}

.table-form-section {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #EAEAEA;
    margin-bottom: 20px;
    border-radius: 5px;
}

.table-form-section i {
    margin-right: 5px;
}

.table-form-section .title {
    display: inline-block;
    font-size: 18px;
    color: #424242;
    margin-bottom: 15px;
}

.table-form-section .small-title {
    display: inline-block;
    font-size: 16px;
    color: #424242;
    margin-bottom: 15px;
}

.small-title-2 {
    font-weight: bold !important;
    font-size: 12px !important;
    margin-bottom: 5px !important;
}

.inline-table-form-section .title {
    margin-bottom: 25px;
}

.inline-table-form-section form {
    margin: 0px 15px;
}

.inline-table-form-section {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #eeeef3;
}

.table-section .alert-info {
    display: inline-block !important;
    font-size: 13px !important;
}
.alert-info.alert-right{
    float: right;
}

.table-box .button-section{

}
input[type='checkbox']{
    width: 12px;
    /* height: 15px; */
    outline: none !important;
    border: none !important;
}

/*******************
    DROPDOWN
*******************/

.table-action-section {
    margin-bottom: 30px;
}

.dropdown-menu .dropdown-anchor::after {
    border: 6px solid #C6C6C6;
}

.dropdown-menu ul li>a,
.dropdown-menu ul li label {
    font-size: 13px;
    transition: 0.3s all;
    color: var(--dashboard-secondary-font);
}

.dropdown-menu ul li a:hover {
    background: transparent !important;
    color: #2B2B2B !important;
    font-weight: bold;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.division {
    border-top: 1px solid #E5E7EC;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

th {
    min-width: 150px;
}

.table-section input,
select,
.datepicker {
    border: 1px solid #ebebeb;
    background: rgba(0, 0, 0, 0.004) !important;
    color: rgba(0, 0, 0, 0.5);
    height: 33px;
}

tbody tr {
    cursor: pointer;
    transition: 0.3s all;

}

tbody tr:hover {
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.03);
}



.action-column {
    width: 100px;
}

th {
    min-width: 50px;
}

.menu-tooltip {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.tooltip-text-responsive{
    display:none;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }
    tbody tr{
        border-bottom: 1px solid rgba(0,0,0,0.05);
        margin-bottom: 25px;
    }
   
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    tbody td{
        border:none !important;
        padding-left: 15px !important;
        padding-bottom: 20px !important;
     }

    td:before {
        position: absolute;
        top: -2px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 12px;
        opacity: 0.7;
    }
    .menu-tooltip{
        display:none;
    }
    .tooltip_templates{
        display:block;
    }
    td:before {
        content: attr(data-title);
    }
        
    .tooltip-text-responsive{
        display:block;
    }
        
    .tooltip-text{
        display:none;
    }
    .tooltip-text-responsive i{
        padding:0;
    }
    .tooltip_menus{
        display:flex;
    }
    .tooltip_menus button{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 15px;
    }


  
}

