#tt{
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
   
}
#ttSection img{
    width: 60px;
    margin: auto;
    margin-bottom: 0.8em;
}
#ttSection{
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 1.2em;
}
#videoSection{
    text-align: center;
}
#video{
    width: 80%;
    height: auto;
    border-radius: 20px;
}

#td{
    font-size: 0.8em;
    width: 60%;
    margin: auto;
    text-align: center;
    opacity: 0.7;
    margin-top: 0.5em;
}


#footer{
    position: fixed;
    width: 81%;
    height: 55px;
    /* background: #4d3cdf; */
    border-radius: 50px;
    bottom: 2em;
    margin: auto;
    left: 0;
    background:rgb(226 232 235 / 48%);
    /* background: linear-gradient(45deg, rgb(69 140 217) 0%, rgb(71 209 198) 35%, rgb(104 198 227) 100%);
     */
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#footer .btn-primary{
    background: linear-gradient(45deg, rgb(69 140 217) 0%, rgb(71 209 198) 35%, rgb(104 198 227) 100%);
    border: none;
    border-radius: 35px;
    padding: 6px 16px;
}

#footer .btn-default{
    background: transparent;
    color: #3f555f;
    border: none;
    border-radius: 35px;
    padding: 6px 16px;
}

.modal-header{
    border-bottom: none;
}

.modal-body img{
    width: 60px;
    margin-bottom: 1em;
    margin-top: 1em;
}


.modal-body h1{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.8em;
}

.modal-content{
    border-radius: 30px;
}
.modal-body p{
    opacity: 0.8;
}

.modal-body {
   margin-bottom: 2em;
}


.contact-list{
    background: rgb(226 232 235 / 48%);
    border-radius: 10px;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

.contact-list h3{
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    display: flex;
    gap: 11px;
}
.contact-list p{
    margin: 0;
}

h2{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.6em;
}