
/* ------------------------------------------------------------------------------
Font Setting
-------------------------------------------------------------------------------*/

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/thin.ttf");
    font-weight: 100;
    font-style: thin;
}

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/light.ttf");
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/medium.ttf");
    font-weight: 600;
    font-style: medium;
}

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/bold.ttf");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Nunito";
    src: url("/font/nunito/black.ttf");
    font-weight: 900;
    font-style: black;
}



p,
h1,
span,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
html,
body,
b,
label {
    font-family: "Nunito", "微软雅黑", sans-serif !important;
}



