


body,
.full-p {
    height: 100vh;
    overflow:hidden;
    background-color: white !important;
    font-family: Tahoma， Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

.email,
.password,
.captcha {
    margin-bottom: 12px;
}

.captchainput {
    display: block;
    width: auto;
    height: 40px;
    border: 2px solid #dde3ec;
    color: #9c9c9c;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.logintxt {
    display: block;
    color: #223445;
    font-weight: 300;
    font-size: 13px;
}

.logininput {
    display: block;
    width: 500px;
    height: 40px;
    border: 2px solid #dde3ec;
    color: #9c9c9c;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.signinbtn {
    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top:15px;
    transition:0.3s all;
    flex-direction: column;
}
.signinbtn:hover{
    opacity:0.5;
}
.signinbtn .btn-primary{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: white !important;
    background: #231fe6;
    border: 1px solid #231fe6;
    width: 100%;
    padding: 8px 15px;
}
.forgotpassword{
    font-size: 13px;
    color: #7569ff;
    margin-top: 8px;
}
.loginbtn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 40px;
    background-color: #34649c;
    color: white !important;
    font-weight: bold;
    border: 0;
}

.wrongmsg {
    color: red;
    font-weight: 600;
}
.back-btn{
    width: 100%;
    margin-top: 5px;
}
.back-btn button{
    width: 100%;
    border:none;
}
.wrongcaptchamsg {
    text-align: center;
    color: red;
    font-weight: 600;
    margin-top: 30px;
}

.captchaimg img {
    width: 100% !important;
    height: 80px !important;    
}

.wrongicon {
    color: red;
}



input{
    color: rgba(0,0,0,0.6) !important;
    font-size: 14px !important;
}


.float-right{
    text-align: right;
}

.logo-section{
    position: absolute;
    top: 6%;
    left: 5%;
    width: 100px;
}
.logo-section img{
    width: 35px;
}

body{
    background: #f5f4f8;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    min-width:700px;
    border-radius: 5px;
    background: white;
    padding: 5%;
    transition: 0.5s all;
    margin-left:0 !important; 
}
.forgot-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    min-width:300px;
    border-radius: 5px;
    background: white;
    padding: 5%;
    box-shadow: 2px 2px 15px #efedf5;
    transition: 0.5s all;
    margin-left:0 !important; 
}
.vector-section{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.vector-section img{
    width: 300px;
}
.header h3{
    font-size: 24px;
    font-weight: 900;
    color: black;
    margin-bottom: 25px;
}

.logintxt{
    font-size: 12px;
    color: gray;
    margin-bottom: 1px;
}
input{
    font-size:13px !important;
}



@media screen and (max-width: 720px) {
    .login-box{
        min-width: auto;
        width: 95vw;
    }
    body{
        overflow-y: auto;
    }
    .forgot-box{
        min-width: auto;
        width: 80vw;  
        padding-top: 60px;
    }
}

@media screen and (max-width: 517px) {
    .vector-section img{
        height: 250px;
        width: auto;
    } 
    .vector-section{
        transform: translate(-50%, -95%);
    }
    .login-box{
        padding-top:250px;
    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
